.carousel-inner .carousel-item img{
	margin: 0 auto;
	width:100%;
	height: 300px;
	max-height: 350px;
}

#demo{
	width:auto;
	margin: 0 auto;
}

#mainLeftNavBar .categories .nav-link:hover{
	color:black;
}

.categories:hover{
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.bestsellers .nav-link:hover{
	text-decoration:underline;
}

.filter{
	border-bottom:1px solid black;
}

li.header{
	font-weight:bold;
	text-transform: uppercase;
	border-bottom:2px solid black;
}

.navbar-brand{
	font-weight:bold;
}

img.card-img-top{
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	width:100%;
	height:250px;
	max-height:250px;
	margin: 0 auto;
}

.quantityInput{
    width:50px;
    max-width:50px;
}

.carousel-inner > .carousel-item > a > img:hover{
	opacity: 0.7;
}
	

.prodImgLargeCont > #prodImgLarge {
	width:275px;
	height:275px;
	max-width:275px;
	max-height:275px;
}

 /* Style the Image Used to Trigger the Modal */
#prodImgLarge {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#prodImgLarge:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 



#newArr{
	border-bottom:2px solid black;
}

#ourTips{
	border-bottom:2px solid black;
}

.card-title{
	font-weight:bold;
}

.card-header{
	text-decoration:underline;
}

.card{
	height:600px;
}

.aboutUsCard{
	height:auto;
}

#aboutAccordion{
	width:auto;
	height:auto;
	min-width:100%;
}

.aboutUsCard > .collapse{
	width:100%;
}

.prodDesc{
	padding: 2px 1px 1px 1px;
	border-radius: 5px;
	height: 80px;
	width: 100%;
	margin: 0px;
	float: left;
	position: relative;
	text-align: left;
	z-index: 1;
	overflow: hidden;
}

.prodDesc:hover{
	height: auto;
}


.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

